#page-container {
	width: 1200px;
}

#dashboard {
        background: OldLace;
        width: 450px;
        height: 400px;
	float: right;
}

#scatterplot {
	background: MintCream;
	height: 600px;
}

#test {
        background: MintRose;
        height: 300px;
}
